/* Estilos para as caixas do contador */
#contador-horas,
#contador-minutos,
#contador-segundos {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin: 5px;
}

/* Estilo quando a contagem encerra */
#contador-horas:empty,
#contador-minutos:empty,
#contador-segundos:empty {
    color: #ff0000; /* Vermelho */
}
